:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  border-bottom: 2px solid #e2e2e2;
}

main {
  max-width: 1200px;
  text-align: center;
  margin-inline: auto;
}
  
footer {
  justify-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  border-top: 2px solid #e2e2e2;
}
